<style>
  th {
    text-align: center;
  }

  .title {
    font-size: 12pt;
  }

  p {
    font-family: 'Dosis', sans-serif;
  }

  .panel-body {
    margin: 20px !important;
    padding: 0 !important;
  }

  .user_team {
    margin-top: 15%;
  }

</style>

<div class="user_team">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">All users in team</h3>
    </div>

    <% @team.users.each do |user| %>
      <div class="panel-body">
        <%= user.name %>
      </div>

    <% end %>

  </div>
</div>
