<select id="user_select" class="js-tags input-lg form-control">
  <%= @user_in_team.each do |user| %>
    <option value="<%= user.id %>" selected="selected"><%= user.name %></option>
  <% end%>
</select>
<input type="hidden" id="members" name="members"/>

<script>
  var test = $('.js-tags');
  var users = JSON.parse(<%= @users.to_json.to_s.html_safe %>);
  var new_data = $.map(users, function (obj) {
    obj.text = obj.text || obj.name; // replace name with the property used for the text
    return obj;
  });

  console.log(new_data);
  $(test).select2({
    data: new_data,
    multiple: true,
    tags: true,
    tokenSeparators: [',', ' ']
  });

  $(".js-tags").on("change", function (e) {
    e.preventDefault();
    var tags_array = []
    tags_array = $(".js-tags").val();
    if (tags_array == null) {
        tags_array = []
        $("#members").val("");
    } else {
        $("#members").val(tags_array.toString());
        console.log($("#members").val());
    }
  });
</script>
