<div class="panel panel-default">

    <div class="panel-body">
      <% @comments.each do |comment| %>
        <div class="user_comment"> <%= comment.user.name %>: </div>
        <%= comment.content %>
        </br>
      <% end %>
    </div>



</div>
