<div class="page_content">
  <% provide(:title, @user.name) %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>

      </section>
      <h2>Current Teams: <%= @team_count %></h2>
      <h2>Current Projects: <%= @project_count %></h2>
    </aside>
  </div>

</div>
