<div class="task">
  <h2>All Tasks</h2>
  <table class="table table-striped center">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.name %></td>
          <td><%= task.description %></td>
          <td><%= task.status %></td>
          <td><%= link_to 'view', task_path(task), :class=>"btn btn-info button" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
